@mixin button {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    font-size: rem(14);
    line-height: rem(18);
    border: 1px solid rgba(17, 17, 17, 0.303074);
    border-radius: 4px;
    padding: 14px 30px;
}
